{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    {% for categorie in categories %}
        <p>{{ categorie.title }} | {{ categorie.description }}</p>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_end(form) }}
{% endblock %}
