{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    {% for user in users %}
    <p>{{ user.firstname }} | {{ user.lastname }} | {{ user.email }}</p>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.birthday) }}
    {{ form_end(form) }}
{% endblock %}
